<h3>Register a Game</h3>

<form action='/create' method='POST'>
	<select name="sport">
	  <option value="Football">Football</option>
	  <option value="Soccer">Soccer</option>
	  <option value="Baseball">Baseball</option>
	  <option value="Basketball">Basketball</option>
	  <option value="Hockey">Hockey</option>
	</select>
	<input type='text' name='location' placeholder='Location' >
	<input type='date' name='date' >
	<input type='submit' value='Submit!' >
</form>